<!DOCTYPE html>
<html lang="en">

<head>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico">

  <title>BookStore</title>

  <!-- Bootstrap core CSS -->
  <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

  <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
  <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
  <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

  <!-- Custom styles for this template -->
  <!-- <link href="carousel.css" rel="stylesheet"> -->

</head>
<!-- NAVBAR
================================================== -->

<body>
  <header>
    <div class="navbar-wrapper">
      <% include ./main/nav %>
    </div>
  </header>

  <!-- Indicators -->
  <div class="item" style="text-align: center">
    <img class="img" src="../images/메인화면.jpg" style="width : 60%; height: 300px;">
  </div>

  <!-- Marketing messaging and featurettes
    ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">
          <지쳤거나 좋아하는 게 없거나><span class="text-muted"></span>
        </h2>
        <h2 class="featurette-heading">내가 만족하는 것이 무엇인지 알아가고 찾아갈 때 행복할 수 있다!<span class="text-muted"></span></h2>
        <p class="lead">무기력해진 마음에 다시 시작하고 싶은 의욕과 용기를 불러일으켜 주고, 잃어버린 삶의 의욕을 다시 찾을 수 있도록 도와주는 글배우의 이야기 『지쳤거나 좋아하는 게 없거나』.
          무기력해진 나에게 혼자의 시간을 잘 보내며 재충전할 수 있는 방법과 내 삶에서 내가 좋아하는 것을 찾을 수 있는 방법을 말해주고, 저자가 직접 겪은 사연을 통해 잃어버린 행복을 찾아 새롭게 시작할
          수 있는 용기를 준다.</p>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto"
          src="../images/지쳤거나좋아하는 게 없거나.png" alt="Generic placeholder image">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 col-md-push-5">
        <h2 class="featurette-heading">
          <90년생이 온다.> <span class="text-muted"></span>
        </h2>
        <h2 class="featurette-heading">“얘네 무슨 생각을 하는 걸까?”

          공무원을 갈망하고, 호구가 되기를 거부하는

          낯선 존재들의 세계에서 함께 사는 법 <span class="text-muted"></span></h2>
        <p class="lead">1990년대생의 꿈이 9급 공무원이 된 지 오래다. 최종 합격률이 2퍼센트가 채 되지 않는 공무원 시험에 수십만 명이 지원한다. 이들은 ‘9급 공무원 세대’다.
          기성세대는 이런 산술적인 통계를 근거로 90년대생을 피상적으로 이해하거나, 무슨 생각을 하는지 모르겠다며 세태를 비판하곤 한다. 그러나 그건 변하는 세상에서 ‘꼰대’로 남는 지름길이다.
          중요한 것은 공무원 시험 자체가 아니라 그들의 세대적 특징이다.</p>
      </div>
      <div class="col-md-5 col-md-pull-7">
        <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto"
          src="../images/90년생이 온다.png" alt="Generic placeholder image">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">
          <베스트 셀프> <span class="text-muted"></span>
        </h2>
        <h2 class="featurette-heading">뉴욕 타임즈 베스트셀러
          제니퍼 로페즈, 조 조나스, 필 맥그로 박사 극찬
          토크쇼 [닥터 필]의 ‘코치 마이크’가 알려주는 최고의 자신이 되는 방법! <span class="text-muted"></span></h2>
        <p class="lead">지금의 당신은 진정으로 원하는 당신인가? 지금의 삶은 진정으로 원하는 삶인가? 당신은 하루하루를 최고의 자아로서 살고 있는가? 오늘 당신은 무엇을 바꿀 수 있는가?
          위의 질문들에 어떻게 대답하겠는가? 당신의 일상적인 삶에 대해 생각해보자. 하루하루 성장하고 있는가, 아니면 무계획적으로 살아가고 있는가? 당신의 하루는 진실한 자아에 충실한 일과 인간관계로
          충만한가,
          아니면 책무라는 짐에 짓눌린 채 지내는가? 더 나은 삶을 꿈꾸고 있다면, 지금이 그 꿈을 현실로 바꾸려고 시도할 때이다. 이 책, 『베스트 셀프』는 당신에게 그 방법을 가르쳐줄 것이다.</p>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto"
          src="../images/베스트 셀프.png" alt="Generic placeholder image">
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->


    <!-- FOOTER -->
    <footer>
      <p class="pull-right"><a href="#">Back to top</a></p>
      <!-- <p>&copy; 2014 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p> -->
    </footer>

  </div><!-- /.container -->


  <!-- Bootstrap core JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="../../dist/js/bootstrap.min.js"></script>
  <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
  <script src="../../assets/js/vendor/holder.js"></script>
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
</body>

</html>